
@{
    Layout = null;
}

<div class="testimonial">
    <div class="container">
        <div class="section-header text-center">
            <p>Testimonial</p>
            <h2>What our clients say</h2>
        </div>
        <div class="owl-carousel testimonials-carousel">
            <div class="testimonial-item">
                <img src="img/testimonial-1.jpg" alt="Image">
                <div class="testimonial-text">
                    <h3>Client Name</h3>
                    <h4>Profession</h4>
                    <p>
                        Lorem ipsum dolor sit amet elit. Phasel preti mi facilis ornare velit non vulputa. Aliqu metus tortor auctor gravid
                    </p>
                </div>
            </div>
            <div class="testimonial-item">
                <img src="img/testimonial-2.jpg" alt="Image">
                <div class="testimonial-text">
                    <h3>Client Name</h3>
                    <h4>Profession</h4>
                    <p>
                        Lorem ipsum dolor sit amet elit. Phasel preti mi facilis ornare velit non vulputa. Aliqu metus tortor auctor gravid
                    </p>
                </div>
            </div>
            <div class="testimonial-item">
                <img src="img/testimonial-3.jpg" alt="Image">
                <div class="testimonial-text">
                    <h3>Client Name</h3>
                    <h4>Profession</h4>
                    <p>
                        Lorem ipsum dolor sit amet elit. Phasel preti mi facilis ornare velit non vulputa. Aliqu metus tortor auctor gravid
                    </p>
                </div>
            </div>
            <div class="testimonial-item">
                <img src="img/testimonial-4.jpg" alt="Image">
                <div class="testimonial-text">
                    <h3>Client Name</h3>
                    <h4>Profession</h4>
                    <p>
                        Lorem ipsum dolor sit amet elit. Phasel preti mi facilis ornare velit non vulputa. Aliqu metus tortor auctor gravid
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>